// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.Toastify__toast--success {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.w-40 {
    width: 40% !important;
}
.w-30 {
    width: 30% !important;
}