.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 1 !important;
    color: $base-color !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25 !important;
}

.slick-slide {
    div {
        padding-right: 1rem;
        .card {
            padding-right: 0px;
        }
    }
}

.trending__videos {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.article__card {
    &:hover {
        text-decoration: none;
    }
    .card {
        box-shadow: 1px 1px 6px rgba(0, 0, 0, .16);
        -webkit-transition: 500ms ease all;
        -moz-transition: 500ms ease all;
        transition: 500ms ease all;
        overflow: hidden;
        margin-bottom: 1rem;
        min-height: calc(100% - 14px);
        .card-img-top {
            height: 65%;
        }
        .card-title {
            color: $light-black;
            font-weight: 500;
            font-size: 19px;
        }
        img:hover {
            transform: scale(1.1);
            transition: all .5s ease-in-out;
        }
        &:hover {
            box-shadow: 1px 1px 6px rgba(0, 0, 0, .16);
            text-decoration: none;
        }
    }
}

.list-group {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .16);
}

.heading__list {
    list-style: none;
    padding-left: 0px;
    .heading__item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        &:last-child {
            border-bottom: none;
        }
        border-bottom: 1px solid grey;
        i {
            color: $base-color;
            font-weight: bolder;
            margin-right: 1rem;
        }
        a {
            color: $light-black;
            &:hover {
                color: $light-black;
                text-decoration: none;
            }
        }
    }
}

.advertise__banner {
    width: inherit;
    margin-top: 2rem;
}

.article__author {
    position: absolute;
    bottom: 0;
    font-size: 13px;
}

.article__small__description {
    line-height: 18px;
    p {
        line-height: 20px !important;
        font-size: 15px;
    }
}

.random__article {
    .card {
        .card-body {
            padding: 1rem !important;
            .random__article__img {
                display: flex;
                -ms-flex-align: center;
                align-items: center;
            }
        }
        &:hover {
            transform: scale(1.01);
        }
        p {
            color: $light-black;
            font-size: 14px;
        }
    }
    &:hover {
        text-decoration: none;
    }
}

body,
html {
    @supports(display: grid) {
        display: block;
    }
}

h1 {
    font-size: 2rem;
    margin: 0 0 1.5em;
}

.grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
}

@media (max-width:1500px) and (min-width:767px) {
    .heading__item {
        font-size: 80%;
    }
    .btn-outline-danger {
        font-size: 0.7rem;
    }
    h4 {
        font-size: 100%;
    }
    .random__article {
        h6 {
            font-size: 85%;
            margin-bottom: 0px;
        }
        p {
            font-size: 89% !important;
        }
    }
}

@media (max-width: 1450px) and (min-width:1000px) {
    p {
        font-size: 85%;
    }
    h6 {
        font-size: 85%;
    }
    .article__card .card .card-title {
        color: $light-black;
        font-weight: 500;
        font-size: 85%;
    }
    .article__small__description {
        line-height: 15px;
        p {
            line-height: 20px !important;
            font-size: 85%;
        }
    }
}

@media(max-width:1000px) {
    .article__card {
        iframe {
            height: 269px;
        }
    }
}

@media (max-width:763px) {
    .slick-slide {
        div {
            padding-right: 0rem !important;
            .card {
                padding-right: 0px;
            }
        }
    }
    .random__article__img {
        padding-right: 15px !important;
        padding-bottom: 15px;
    }
}