.single__article__title {
    color: $light-black;
    font-weight: bold;
    padding-bottom: 1rem;
}

.single__article__content {
    margin-bottom: 3rem;
    img {
        width: 80%;
    }
    iframe {
        height: 500px;
        width: 80% !important;
    }
}

@media(max-width:700px) {
    .single__article__content {
        .card-body{
            
    padding: 0.75rem !important;
        }
        img {
            width: 100%;
        }
        iframe {
            width: 100% !important;
        }
    }
}
